.chat-wrapper{
    display: flex;
}

.chatSideBar{
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 30px;
    border: 3px solid;
}


.addFriends{
    margin: 50px 0px;
    display: flex;
    flex-direction: column;
    
}

.chats{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.user{
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.chat{
    width: 500px;
    border-top: 3px solid;
    border-right: 3px solid;
    border-bottom: 3px solid;
    display: flex;
    flex-direction: column;
}

.chat-name{
    padding: 30px;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-bottom: 3px solid;
}

.friendBtn{
    background-color: inherit;
    border: 1px solid;
    width: 150px;
    height: 30px;
    font-size: 20px;
    font-weight: 700;
    border-color: rgba(85, 85, 85, 0.333);
    cursor: pointer;
}

.friendBtn:hover{
    background-color: rgba(85, 85, 85, 0.099);
}

.messages-wrapper{
    height: 100%;
    width: 92%;
    padding: 20px;
}

.message{
    width: 98.5%;
    height: 50px;
    font-size: 25px;
    display: flex;
}

.messageBox{
    display: flex;
    align-items: center;
}