<div class="forum-wrapper">
    <div class="data">
        <div class="username">{{setName()}}</div>

        <div *ngIf="!usersController.isAuthorizedUser()" class="buttons-wrapper">
            <button class="logInBtn" routerLink="SignIn" mat-raised-button color="accent">Sign In</button>
            <button class="registerBtn" routerLink="SignUp" mat-raised-button color="accent">Sign Up</button>
        </div>

        <button *ngIf="usersController.isAuthorizedUser()" (click)="this.usersController.disableAuthorizedUser()" class="logInBtn" mat-raised-button color="accent">Sign Out</button>
    </div>
    
    <app-chat></app-chat>
</div>

